/* ==========================================================================================================================================================
                                        GÉNÉRIQUE
==========================================================================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*:after {

    box-sizing: inherit;
}

/* ==========================================================================================================================================================
                                        ÉLÉMENTS
==========================================================================================*/

/*---------BASE------*/

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

/*---------TITRE ET PARAGRAPHES------*/

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    margin: 0%;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 2.25rem;
}

.slogan q {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: 5.5px;
}

.petitmot {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.875rem;
    font-weight: bold;
    color: #D35400;
}

.info p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    line-height: 40px;
}

.info span {
    font-weight: bold;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

p.bouton span {
    font-size: 3.125rem;
    width: 50px;
}

/*---------HEADER------*/

header {
    padding-top: 62px;
    padding-bottom: 62px;
    background-color: #34495E;
    padding-left: 165px;
    padding-right: 165px;
}

/*---------SECTION CITATION------*/

.slogan {
    padding-top: 62px;
    padding-bottom: 62px;
}

.slogan q {
    text-align: right;
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    align-items: end;
    font-weight: 100;
    line-height: 60px;
    letter-spacing: 2.6px;

}

.slogan p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 3rem;
    text-align: right;
    margin: 0;
}

/*---------SECTION RÈGLES------*/

.règles article {
    color: #000;
    padding-left: 50px;
    text-align: center;
    padding-top: 82px;

}

.règles a {
    text-decoration: none;
    background-color: #FFFFFF;
}

a article:hover {
    background-color: #BDC3C7;
}

.droite {
    display: flex;
    justify-content: flex-start;
}
.petitmot {
   display: flex;
   align-items: center;
   justify-content: center;

}
.gauche {
    display: flex;
    justify-content: flex-end;
}





/*---------SECTION INFO------*/

.info .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.info p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
}





/*---------FOOTER------*/

footer {
    padding-top: 43px;
    padding-bottom: 43px;
    background-color: #2980B9;
    margin: 0;
}

footer p {
    margin: 0;
    font-size: 1.25rem;
}