/* ==========================================================================================================================================================
                                        GÉNÉRIQUE
==========================================================================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*:after {

    box-sizing: inherit;
}

/* ==========================================================================================================================================================
                                        ÉLÉMENTS
==========================================================================================*/

/*---------BASE------*/

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

/*---------TITRE ET PARAGRAPHES------*/

h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; 
    font-size:2.25rem;
    letter-spacing: 2.25rem;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-size: 2.25rem;
}

.slogan {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: 3rem;
    letter-spacing: 5.5px;
}

.petitmot {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.info p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto; 
    line-height: 40px;
}

.info span {
    font-weight: bold;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.bouton {
    font-size: 3.125rem;
    width: 50px;
}

/*---------HEADER------*/

header {
    padding-top: 62px;
    padding-bottom: 62px;
    background-color: #34495E;
}






